// Variables

//   Colors

$text-color: #1d1e21;
$background-color: white;

$border-color: #DDD;

$secondary-text-color: #838994;
$secondary-text-hover: #333;
$secondary-text-active: #4c5058;

$accent-color: #f15a29;
$accent-color-hover: #d9400e;

//   Font Sizes

$small: 1.04rem;
$medium: 1.125rem;
$large: 3.125rem;
$spacing: 0.938rem;